<mat-card *ngIf="!loading" class="favorite-coin">
  <div class="favorite-coin__header">
    <h2 class="favorite-coin__header__name mat-title">
      {{ coinData.info.FullName }}
      <span>{{ coinData.info.Name }}</span>
    </h2>
    <div class="favorite-coin__header__btns">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_horiz</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon class="favorite-coin__drag-handle">drag_handle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>info</mat-icon>
          <span>More</span>
        </button>
        <button mat-menu-item>
          <mat-icon>delete</mat-icon>
          <span>Remove</span>
        </button>
      </mat-menu>
    </div>
  </div>
  <mat-card-content>
    <app-line-chart
      [data]="coinChartData"
      [subchart]="false"
      [showY]="false"
      [showX]="false"
      [height]="200">
    </app-line-chart>
  </mat-card-content>
</mat-card>
