<app-page>
  <app-page-nav>
    <mat-toolbar class="app-page-nav-toolbar">
      <mat-toolbar-row>
        <span>Coins</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="app-page-nav-content">
      <coins-nav></coins-nav>
    </div>
  </app-page-nav>
  <app-page-content>
    <mat-toolbar class="app-page-content-toolbar">
      <mat-toolbar-row>
        <span>{{ title }}</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="app-page-content-content">
      <router-outlet></router-outlet>
    </div>
  </app-page-content>
</app-page>
