@import '~styles/variables';

.app-page-content-wrap {
  padding: 0;
}

// Table styles
.coins-list {

  .mat-table {
    min-height: 100vh;
  }

  .mat-header-row {
    position: sticky;
    top: 80px;
    background: white;
    z-index: 2;
    min-height: 48px;
    padding-right: 16px;
  }

  .mat-column-position {
    max-width: 80px;
  }

  .mat-column-name {
    min-width: 250px;
  }

  .mat-column-sparkline {
    min-width: 200px;
  }

  .mat-column-favorite {
    width: 40px;
    max-width: 40px;
    padding: 0;
    margin-left: 8px;
  }

  .mat-row {
    cursor: pointer;
    background: rgba(0, 0, 0, .0);
    transition: all .25s ease;
    padding-right: 16px;
    border-bottom-color: rgba(0,0,0,.08);

    &:hover {
      background: rgba(0, 0, 0, .01);
    }
  }

  .mat-cell {
    color: rgba(0,0,0,.7);
  }

  .mat-paginator {
    position: sticky;
    bottom: 0;
    z-index: 2;
    min-height: 48px;
    border-bottom-color: rgba(0,0,0,.08);
    background: #fff;
  }

  @media (max-width: 1460px) {
    .mat-column-position {
      max-width: 60px;
    }

    .mat-column-name {
      min-width: 150px;
      margin-right: 20px;
    }

    .mat-column-sparkline {
      min-width: 100px;
    }
  }

  @media (max-width: 1160px) {
    .mat-column-change7d {
      display: none;
    }
  }

  @media (max-width: 991px) {
    .mat-header-row {
      top: 60px;
    }

    .mat-column-change7d {
      display: none;
    }
  }

  @media (max-width: 767px) {
    .mat-column-sparkline {
      display: none;
    }
  }

  @media (max-width: 575px) {
    .mat-header-row {
      min-height: 38px;
    }

    .mat-column-position {
      display: none;
    }

    .mat-column-name {
      min-width: 0;
      padding-left: 16px;
    }

    .mat-column-change24h {
      max-width: 60px;
    }

    .mat-column-marketCap {
      display: none;
    }

    .mat-column-favorite {
      margin-left: 0;
      margin-right: -12px;
    }
  }
}

// Table row style
.coins-list-item {
  overflow: hidden;
  backface-visibility: hidden;

  &__position {
    color: rgba(0, 0, 0, .3);
  }

  &__name {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    padding-top: 8px;
    padding-bottom: 8px;

    &__img {
      flex: 32px 0 0;
      width: 32px;
      margin-right: 10px;

      img {
        max-width: 100%;
      }
    }

    &__text {
      flex: 1 0 0;
    }

    span {
      font-size: 12px;
      display: block;
      opacity: .6;
      font-weight: 400;
    }
  }

  &__sparkline {
    height: 60px;
    display: flex;
    align-items: center;
  }

  &__add-to-favorite {
    text-align: center;
    opacity: 0;
    overflow: hidden;
    transform: translateX(40px);
    transition: all .25s ease;

    mat-icon {
      font-size: 22px;
    }
    &.is-favorite {
      opacity: .7;
      transform: translateX(0);
    }
  }

  &:hover {
    .coins-list-item__add-to-favorite {
      opacity: .4;
      transform: translateX(0);

      &:hover {
        opacity: 1;
      }
    }
  }

  @media (max-width: 991px) {

    &__add-to-favorite {
      opacity: 1;
      transform: none;

      mat-icon {
        font-size: 20px;
        color: rgba(0,0,0,.2);
      }

      &.is-favorite {
        opacity: 1;

        mat-icon {
          color: $accent;
        }
      }
    }
  }

  @media (max-width: 575px) {
    &__name {

      &__img {
        flex: 24px 0 0;
        width: 24px;
      }

      &__text {
        > div {
          display: none;
        }

        span {
          font-size: 14px;
          font-weight: 600;
          opacity: 1;
        }
      }
    }
  }
}
