.app-page-content-wrap {
  padding: 0;
}

// Table styles
.coins-list {

  .mat-table {
    min-height: 100vh;
  }

  .mat-header-row {
    position: sticky;
    top: 80px;
    background: white;
    z-index: 2;
    min-height: 48px;
  }

  .mat-column-position {
    max-width: 80px;
  }

  .mat-column-name {
    min-width: 250px;
  }

  .mat-column-sparkline {
    min-width: 200px;
  }

  .mat-column-favorite {
    max-width: 40px;
  }

  .mat-row {
    cursor: pointer;
    background: rgba(0, 0, 0, .0);
    transition: all .25s ease;
    padding-right: 16px;
    border-bottom-color: rgba(0,0,0,.08);

    &:hover {
      background: rgba(0, 0, 0, .01);
    }
  }

  .mat-paginator {
    position: sticky;
    bottom: 0;
    z-index: 2;
    min-height: 48px;
    border-bottom-color: rgba(0,0,0,.08);
    background: #fff;
  }
}

// Table row style
.coins-list-item {
  overflow: hidden;
  backface-visibility: hidden;

  &__position {
    max-width: 80px;
    color: rgba(0, 0, 0, .3);
  }

  &__name {
    display: flex;
    align-items: center;
    min-width: 250px;
    font-size: 16px;
    font-weight: 600;

    &__img {
      flex: 32px 0 0;
      width: 32px;
      margin-right: 10px;

      img {
        max-width: 100%;
      }
    }

    &__text {
      flex: 1 0 0;
    }

    span {
      font-size: 12px;
      display: block;
      opacity: .6;
      font-weight: 400;
    }
  }

  &__sparkline {
    min-width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
  }

  &__add-to-favorite {
    width: 40px;
    max-width: 40px;
    text-align: center;
    margin-left: 8px;
    opacity: 0;
    overflow: hidden;
    transform: translateX(40px);
    transition: all .25s ease;

    mat-icon {
      font-size: 22px;
    }
    &.is-favorite {
      opacity: .7;
      transform: translateX(0);
    }
  }

  &:hover {
    .coins-list-item__add-to-favorite {
      opacity: .4;
      transform: translateX(0);

      &:hover {
        opacity: 1;
      }
    }
  }
}
