<div class="coin-chart-toolbar" *ngIf="showToolbar">
  <h2 class="mat-title">
    {{ coinSymbol }}-{{ toSymbol }}
  </h2>
  <form [formGroup]="chartFilterForm" class="coin-chart-toolbar__filter">
    <mat-form-field>
      <mat-select placeholder="Period" formControlName="historyLimit">
        <mat-option *ngFor="let limit of historyLimits" [value]="limit">
          {{ limit.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>

<app-line-chart
  [data]="chartData"
  [toSymbolDisplay]="toSymbolDisplay">
</app-line-chart>
