//::ng-deep {
//  app-page-content {
//    background: #fff;
//  }
//}

// Table styles
.coins-list {
  padding-top: 48px;
  padding-bottom: 56px;

  .mat-header-row {
    position: absolute;
    z-index: 2;
    top: 64px;
    left: 0;
    right: 0;
    min-height: 48px;
    background: #fff;
  }

  .mat-column-position {
    max-width: 40px;
  }

  .mat-row {
    cursor: pointer;
    background: rgba(0, 0, 0, .0);
    transition: all .25s ease;

    &:hover {
      background: rgba(0, 0, 0, .01);
    }
  }

  .mat-paginator {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
  }
}

// Table row style
.coins-list-item {
  &__position {
    max-width: 40px;
    color: rgba(0, 0, 0, .3)
  }

  &__name {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;

    &__img {
      flex: 32px 0 0;
      width: 32px;
      margin-right: 10px;

      img {
        max-width: 100%;
      }
    }

    &__text {
      flex: 1 0 0;
    }

    span {
      font-size: 12px;
      display: block;
      opacity: .6;
      font-weight: 400;
    }
  }

  &__sparkline {
    height: 60px;
    display: flex;
    align-items: center;
  }
}
