.line-chart-gradients {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  left: -99999px;
}

::ng-deep {
  .c3-chart {
    .c3-area {
      opacity:0.3 !important;
      //fill: url(#line-chart-gradient) !important;
    }

    .c3-chart-lines {
      g:nth-child(1) {
        .c3-areas path {
          fill: url(#line-chart-gradient-1) !important;
        }
      }
      g:nth-child(2) {
        .c3-areas path {
          fill: url(#line-chart-gradient-2) !important;
        }
      }
    }
  }

  .c3-chart[clip-path$="subchart)"] {
    path {
      //stroke: rgba(0, 0, 0, 0.5) !important;
      fill: none !important;
    }

    .c3-line {
      stroke-width: 1px;
      opacity: 0.7 !important;
    }

    .c3-chart-lines {
      g {
        .c3-areas path {
          fill: none !important;
        }
      }
    }

    .c3-axis-x {
      .tick {
        display: none;
      }
    }
  }

  .c3 line, .c3 path {
    stroke: rgba(0, 0, 0, 0.22);
  }

  .c3 text {
    fill: rgba(0, 0, 0, 0.5);
  }

  .c3-line {
    stroke-width: 1px;
    opacity: 0.7 !important;
  }

  .c3-circle {
    //stroke-width: 2px;
    stroke: #fff;
    transition: r .25s ease;
    opacity: .7 !important;

    &._expanded_ {
      //stroke-width: 2px;
    }
  }
}
