<div id="line-chart"></div>
<svg class="line-chart-gradients">
  <linearGradient id="line-chart-gradient-1" gradientTransform="rotate(90)">
    <stop offset="0%" stop-color="#673ab7"/>
    <stop offset="100%" stop-color="#673ab7" stop-opacity="0"/>
  </linearGradient>
  <linearGradient id="line-chart-gradient-2" gradientTransform="rotate(90)">
    <stop offset="0%" stop-color="#E91E63"/>
    <stop offset="100%" stop-color="#E91E63" stop-opacity="0"/>
  </linearGradient>
  <linearGradient id="line-chart-gradient-3" gradientTransform="rotate(90)">
    <stop offset="0%" stop-color="#FF9800"/>
    <stop offset="100%" stop-color="#fff"/>
  </linearGradient>
  <linearGradient id="line-chart-gradient-4" gradientTransform="rotate(90)">
    <stop offset="0%" stop-color="#4CAF50"/>
    <stop offset="100%" stop-color="#fff"/>
  </linearGradient>
</svg>
