<mat-sidenav-container class="app-container">
  <mat-sidenav opened mode="side" class="app-sidenav">
    <mat-toolbar color="primary" class="app-sidenav__toolbar">
      <mat-toolbar-row>
        <span>CC</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <nav>
      <ul>
        <li *ngFor="let item of appNav">
          <button mat-button routerLink="{{ item.link }}" routerLinkActive="active">
            <mat-icon>{{ item.icon }}</mat-icon>
            <span>{{ item.name }}</span>
          </button>
        </li>
      </ul>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content class="app-main-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
