<mat-sidenav-container class="main-container">
  <mat-sidenav opened mode="side" class="main-sidenav">
    <mat-toolbar color="primary" class="main-sidenav__toolbar">
      <mat-toolbar-row>
        <span>CC</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="list">
        <mat-icon matListIcon>folder</mat-icon>
        <h4 mat-line>Coins</h4>
      </a>
      <a mat-list-item routerLink="list">
        <mat-icon matListIcon>folder</mat-icon>
        <h4 mat-line>Mining</h4>
      </a>
      <a mat-list-item routerLink="list">
        <mat-icon matListIcon>help</mat-icon>
        <h4 mat-line>About</h4>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
