:host {
  ::ng-deep {

    .c3 {
      line, path {
        stroke: rgba(0, 0, 0, 0.22);
      }

      text {
        fill: rgba(0, 0, 0, 0.5);
      }
    }

    .c3-chart {
      .c3-area {
        opacity: 0.2 !important;
      }

      // Subchart style
      &[clip-path$="subchart)"] {
        path {
          //stroke: rgba(0, 0, 0, 0.5) !important;
          fill: none !important;
        }

        .c3-line {
          stroke-width: 1px;
          opacity: 0.7 !important;
        }

        .c3-chart-lines {
          g {
            .c3-areas path {
              fill: none !important;
            }
          }
        }

        .c3-axis-x {
          .tick {
            display: none;
          }
        }
      }
    }

    .c3-line {
      stroke-width: 2px;
      opacity: 0.7 !important;
    }

    // Line point
    .c3-circle {
      stroke: #fff;
      transition: r .25s ease;
      opacity: .7 !important;
    }

    // Tooltip
    .c3-tooltip-container {
      background: #fff;
      padding: 8px 16px;
      box-shadow: 0 0 20px rgba(0, 0, 0, .2);
      border-radius: 5px;

      .c3-tooltip {
        background: transparent;
        box-shadow: none;

        tr {
          border: none;
        }

        th {
          color: #000;
          background: transparent;
          padding: 0 0 4px 0;
          font-weight: normal;
          border: none;
        }

        td {
          border-left: none;
          padding: 4px 0 0 0;
          border-top: 1px solid rgba(0, 0, 0, .1);

          > span {
            border-radius: 8px;
            height: 8px;
            width: 8px;
          }

          &.name {
            padding-right: 15px;
            text-transform: capitalize;
          }

          &.value {
            font-weight: 600;
          }
        }
      }
    }
  }

}
