<progress-loading [loading]="state.loading"></progress-loading>

<div class="coin-overview" *ngIf="!state.error && !state.firstShow">
  <!-- Coin main info -->
  <div class="coin-stats">
    <div class="coin-stats__card">
      <mat-card>
        <mat-card-content>
          <div class="coin-stats__card__title">
            Price
          </div>
          <div class="coin-stats__card__value">
            {{ coin.finance.price }}
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="coin-stats__card">
      <mat-card>
        <mat-card-content>
          <div class="coin-stats__card__title">
            Market Cap
          </div>
          <div class="coin-stats__card__value">
            {{ coin.finance.marketCap }}
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="coin-stats__card">
      <mat-card>
        <mat-card-content>
          <div class="coin-stats__card__title">
            24h change
          </div>
          <div class="coin-stats__card__value" [ngClass]="{'value-up': coin.finance.changePct24Hour > 0, 'value-down': coin.finance.changePct24Hour < 0}">
            {{ coin.finance.changePct24Hour }}%
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <!-- Coin chart -->
  <mat-card class="coin-chart">
    <mat-card-content>
      <div class="coin-chart__toolbar">
        <h2 class="coin-stats__card__title">
          {{ coin.info.Name }}-USD
        </h2>
        <div class="coin-chart__toolbar__filter">
          <mat-form-field>
            <mat-select placeholder="Period" [(value)]="chartPeriodsSelected" (selectionChange)="getCoinHistory()">
              <mat-option *ngFor="let period of chartPeriods" [value]="period.value">
                {{ period.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Data" [(value)]="chartDataFilterSelected" multiple (selectionChange)="getCoinHistory()">
              <mat-option *ngFor="let chartDataFilterItem of chartDataFilter" [value]="chartDataFilterItem.value">
                {{ chartDataFilterItem.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="app-line-chart-wrap">
        <app-line-chart [data]="chartData"></app-line-chart>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="coin-stats">
    <div class="coin-stats__card">
      <mat-card>
        <mat-card-content>
          <div class="coin-stats__card__title">
            Volume 24H
          </div>
          <div class="coin-stats__card__value">
            {{ coin.finance.volume24Hour }}
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="coin-stats__card">
      <mat-card>
        <mat-card-content>
          <div class="coin-stats__card__title">
            Open 24H
          </div>
          <div class="coin-stats__card__value">
            {{ coin.finance.open24Hour }}
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="coin-stats__card">
      <mat-card>
        <mat-card-content>
          <div class="coin-stats__card__title">
            Low/High 24H
          </div>
          <div class="coin-stats__card__value">
            <div>
              {{ coin.finance.low24Hour }} / {{ coin.finance.high24Hour }}
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="coin-overview-error" *ngIf="state.error">
  <mat-icon color="accent">cloud_off</mat-icon>
  <div class="coin-stats__card__value">
    API Error
  </div>
</div>
