<progress-loading [loading]="loading"></progress-loading>

<!-- Coin main info -->
<div class="coin-stat-cards">
  <div class="coin-stat-cards__card">
    <mat-card>
      <mat-card-content>
        <div class="mat-title">
          Price
        </div>
        <div class="mat-display-1">
          {{ coin.finance.price }}
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="coin-stat-cards__card">
    <mat-card>
      <mat-card-content>
        <div class="mat-title">
          Market Cap
        </div>
        <div class="mat-display-1">
          {{ coin.finance.marketCap }}
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="coin-stat-cards__card">
    <mat-card>
      <mat-card-content>
        <div class="mat-title">
          24h change
        </div>
        <div class="mat-display-1">
          <div [ngClass]="{'value-up': coin.finance.changePct24Hour > 0, 'value-down': coin.finance.changePct24Hour < 0}">
            {{ coin.finance.changePct24Hour }}%
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<!-- Coin chart -->
<mat-card class="coin-chart" *ngIf="coin.daysHistory.length > 0">
  <mat-card-content>
    <div class="coin-chart__toolbar">
      <h2 class="mat-title">
        {{ coin.info.Name }}-USD
      </h2>
      <div class="coin-chart__toolbar__filter">
        <mat-form-field>
          <mat-select placeholder="Period" [(value)]="chartPeriodsSelected" (selectionChange)="getCoinHistoryByDays()">
            <mat-option *ngFor="let period of chartPeriods" [value]="period.value">
              {{ period.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <app-line-chart [data]="chartData"></app-line-chart>
  </mat-card-content>
</mat-card>
