:host {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  height: 100vh;
  max-height: 100vh;
  overflow: auto;
  -webkit-overflow-scroll: touch;

  ::ng-deep {
    .app-page-content-toolbar {
      position: sticky;
      top: 0;
      z-index: 2;

      mat-toolbar-row {
        justify-content: space-between;

        .mat-form-field {
          font-size: 14px;
        }
      }
    }

    .app-page-content-wrap {
      padding: 16px
    }
  }
}
