:host {
  display: block;

  mat-card {
    margin-bottom: 16px;
    box-shadow: 0 3px 8px rgba(0,0,0,.1);
  }
}

.coin-stats {
  display: flex;
  margin: 0 -8px;

  &__card {
    padding: 0 8px;
    // flex: 33.33333%;
    // max-width: 33.33333%;
    flex: 1 0 0;

    &__title {
      color: rgba(0,0,0,.5);
      font-weight: 400;
      font-size: 16px;
      margin-bottom: 12px;
    }

    &__value {
      font-size: 26px;
      line-height: 34px;
      white-space: nowrap;
    }

    mat-card {
      height: 115px;
    }
  }

  &--donuts {
    .coin-stats__card {
      flex: 50% 0 0;
      max-width: 50%;

      mat-card {
        height: 100%;
      }
    }
  }

  @media (max-width: 575px) {
    display: block;

    &__card {
      &__title {
        font-size: 14px;
        margin-bottom: 6px;
      }

      &__value {
        font-size: 18px;
        line-height: 18px;
      }

      mat-card {
        height: auto;
        padding: 16px 16px;
        margin-bottom: 8px;
      }
    }

    &--donuts {
      .coin-stats__card {
        flex: 100% 0 0;
        max-width: 100%;
        margin-bottom: 8px;
      }
    }
  }
}
