:host {
  display: block;

  .app-page-content-toolbar {
    mat-toolbar-row {
      button {
        margin-left: 16px;
      }
    }
  }

  mat-card {
    margin-bottom: 16px;
    box-shadow: 0 3px 8px rgba(0,0,0,.1);
  }
}

.coin-stats {
  display: flex;
  margin: 0 -8px;

  &__card {
    padding: 0 8px;
    // flex: 33.33333%;
    // max-width: 33.33333%;
    flex: 1 0 0;

    &__title {
      color: rgba(0,0,0,.5);
      font-weight: 400;
      font-size: 16px;
      margin-bottom: 12px;
    }

    &__value {
      font-size: 26px;
      line-height: 34px;
      white-space: nowrap;
    }

    mat-card {
      height: 115px;
    }
  }

  &--donuts {
    .coin-stats__card {
      mat-card {
        height: auto;
      }
    }
  }
}


.coin-overview-error {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  mat-icon {
    font-size: 40px;
    margin-bottom: 15px;
    height: auto;
    width: auto;
  }
  .mat-display-1 {
    margin-bottom: 10px;
    opacity: 0.8;
  }
}
