<!-- Page toolbar-->
<mat-toolbar class="app-page-content-toolbar">
  <mat-toolbar-row>
    <span>
      <span>{{ pageTitle }}</span>
    </span>
    <span class="spacer"></span>

    <!-- toSymbol select-->
    <app-symbol-select *ngIf="coin" [symbols]="coin.toSymbols" [symbolSelected]="toSymbol" (symbolChanged)="toSymbolChanged($event)"></app-symbol-select>
  </mat-toolbar-row>
</mat-toolbar>

<!-- Loading indicator-->
<app-loading></app-loading>

<!-- Main content -->
<section class="app-page-content-wrap">

  <div class="coin-overview" *ngIf="coin">

    <!-- Coin main info -->
    <div class="coin-stats">
      <div class="coin-stats__card">
        <mat-card>
          <mat-card-content>
            <div class="coin-stats__card__title">
              Price
            </div>
            <div class="coin-stats__card__value">
              {{ coin.finance.price | cryptoCurrency:coin.finance.toSymbolDisplay }}
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="coin-stats__card" *ngIf="coin.finance.marketCap">
        <mat-card>
          <mat-card-content>
            <div class="coin-stats__card__title">
              Market Cap
            </div>
            <div class="coin-stats__card__value">
              {{ coin.finance.marketCap | cryptoCurrency:coin.finance.toSymbolDisplay:'short' }}
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="coin-stats__card">
        <mat-card>
          <mat-card-content>
            <div class="coin-stats__card__title">
              24h change
            </div>
            <div class="coin-stats__card__value" [ngClass]="{'value-up': coin.finance.changePct24Hour > 0, 'value-down': coin.finance.changePct24Hour < 0}">
              {{ coin.finance.changePct24Hour }}%
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <!-- Coin chart -->
    <mat-card>
      <mat-card-content>
        <app-coin-chart
          [chartDataInput]="coin.history"
          [coinSymbol]="coinSymbol"
          [toSymbol]="coin.finance.toSymbol"
          [toSymbolDisplay]="coin.finance.toSymbolDisplay"
          [filter]="chartFilter"
          (filterChanged)="getCoinHistory($event, coin.finance.toSymbol)">
        </app-coin-chart>
      </mat-card-content>
    </mat-card>

    <!-- Coin additionally info-->
    <div class="coin-stats">
      <div class="coin-stats__card">
        <mat-card>
          <mat-card-content>
            <div class="coin-stats__card__title">
              Volume 24H
            </div>
            <div class="coin-stats__card__value">
              {{ coin.finance.volume24Hour | cryptoCurrency:coin.finance.toSymbolDisplay:'short' }}
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="coin-stats__card">
        <mat-card>
          <mat-card-content>
            <div class="coin-stats__card__title">
              Open 24H
            </div>
            <div class="coin-stats__card__value">
              {{ coin.finance.open24Hour | cryptoCurrency:coin.finance.toSymbolDisplay }}
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="coin-stats__card">
        <mat-card>
          <mat-card-content>
            <div class="coin-stats__card__title">
              Low/High 24H
            </div>
            <div class="coin-stats__card__value">
              <div>
                {{ coin.finance.low24Hour | cryptoCurrency:coin.finance.toSymbolDisplay:'short' }} / {{ coin.finance.high24Hour | cryptoCurrency:coin.finance.toSymbolDisplay:'short' }}
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>
