<div class="coin-chart-toolbar" *ngIf="showToolbar">
  <h2 class="mat-title">
    {{ coinName }}-{{ toSymbol }}
  </h2>
  <form [formGroup]="chartFilterForm" class="coin-chart-toolbar__filter">
    <mat-form-field>
      <mat-select placeholder="Period" formControlName="chartPeriod">
        <mat-option *ngFor="let period of chartPeriodList" [value]="period.value">
          {{ period.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Data" formControlName="chartDataShow" multiple>
        <mat-option *ngFor="let data of chartDataList" [value]="data.value">
          {{ data.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>

<app-line-chart [data]="chartData" [toSymbolDisplay]="toSymbolDisplay"></app-line-chart>
