@import '~@angular/material/theming';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');

@include mat-core();

$primary: mat-palette($mat-deep-purple);
// $primary: #7C2289;
$accent:  mat-palette($mat-pink, A200, A100, A400);
$warn:    mat-palette($mat-red, 500);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

body {
    font-family: $mat-font-family;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4 {
    font-weight: normal;
}
