@import 'node_modules/dragula/dist/dragula';

.favorites-coins {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;

  app-favorite-coin {
    flex: 50% 0 0;
    max-width: 50%;
    padding: 0 8px;
    transition: all .3s ease;
  }

  &.is-drag {
    app-favorite-coin {
      transform: scale(0.8);
    }
  }
}
