<app-page>
  <app-page-content>
    <mat-toolbar class="app-page-content-toolbar">
      <mat-toolbar-row>
        <span>Favorites</span>
        <span class="spacer"></span>
        <div *ngIf="coins">
          <mat-form-field *ngIf="historyLimit">
            <mat-select [(value)]="historyLimit">
              <mat-option *ngFor="let limit of historyLimits" [value]="limit">
                {{ limit.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <app-symbol-select [symbolSelected]="toSymbol" [storageKey]="'main-to-symbol'" (symbolChange)="toSymbol = $event"></app-symbol-select>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>

    <section class="app-page-content-wrap">
      <section class="favorites-coins"
               [dragula]='"favorites-coins-bag"'
               [dragulaModel]='coins'
               [ngClass]="{'is-drag' : drag}">
        <app-favorite-coin
          *ngFor="let coin of coins; let i = index"
          [coin]="coin"
          [toSymbol]="toSymbol"
          [historyLimit]="historyLimit"
          (coinDeleted)="deleteCoin($event)"
          [@enterAnimation]>
        </app-favorite-coin>
      </section>
      <app-favorites-drop-delete
        [dragula]='"favorites-coins-bag"'
        [dragulaModel]='deletedCoins'
        [ngClass]="{'show' : drag, 'deleting' : coinDeleting }">
      </app-favorites-drop-delete>

      <app-favorites-empty *ngIf="!coins || coins.length < 1" [@enterAnimation]></app-favorites-empty>
    </section>
  </app-page-content>
</app-page>
