<app-page>
  <app-page-content>
    <mat-toolbar class="app-page-content-toolbar">
      <mat-toolbar-row>
        <span>Favorites</span>
        <span class="spacer"></span>
        <mat-form-field class="to-symbol-select">
          <mat-select [(value)]="toSymbol" (selectionChange)="updateCoins(toSymbol)">
            <mat-option *ngFor="let symbol of toSymbols" [value]="symbol">
              {{ symbol }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-toolbar-row>
    </mat-toolbar>

    <section class="app-page-content-wrap">
      <section class="favorites-coins"
               [dragula]='"favorites-coins-bag"'
               [dragulaModel]='coins'
               [ngClass]="{'is-drag' : drag}">
        <app-favorite-coin
          *ngFor="let coin of coins; let i = index"
          [coin]="coin"
          [toSymbol]="toSymbol"
          (coinDeleted)="deleteCoin($event)"
          [@enterAnimation]>
        </app-favorite-coin>
      </section>
      <app-drop-delete
        [dragula]='"favorites-coins-bag"'
        [dragulaModel]='deletedCoins'
        [ngClass]="{'show' : drag, 'deleting' : coinDeleting }">
      </app-drop-delete>

      <app-favorites-empty *ngIf="!coins || coins.length < 1" [@enterAnimation]></app-favorites-empty>
    </section>
  </app-page-content>
</app-page>
