.main-container {
  height: 100vh;
}

.main-sidenav {
  height: 100vh;
  background: #764EBD;
  width: 250px;
  display: flex;
  flex-direction: column;

  .mat-toolbar {
    flex: 64px 0 0;
  }

  app-currencies-nav {
    flex: 1 0 0;
    overflow: auto;
    -webkit-overflow-scroll: touch;
  }

}
