<mat-sidenav-container class="main-container">
  <mat-sidenav opened mode="side" class="main-sidenav">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>CryptoCharts</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <app-currencies-nav></app-currencies-nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <mat-toolbar-row>
        <span>All Coins</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
